:root {
    font-size: 62.5%;
}

/* mobile m, 375px */

@media (min-width: 375px) {
    .container {
        width: 34.5rem;
    }
}

/* mobile l, 425px */

@media (min-width: 425px) {
    .container {
        width: 39.5rem;
    }
}


